
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');


body {
  margin: 0;
  /* font-family: 'Alegreya', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    serif; */
  font-family: 'Klee One', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage-text {
  font-family: 'Cabin Sketch', cursive;
  margin-left: 10%;
  margin-right: 10%;
  clear: right;
}

.site-header {
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
  clear: right;
  font-size: 60px;
  margin-bottom: 0px;
}

.navbar {
  padding: 10px;
  margin-left: 5%;
  text-decoration: none;
  color: black;
  text-transform: lowercase;
}

.navbar-parent {
  margin-top: 10px;
}

.card {
  max-width: 350px;
  border-radius: 8px;
  margin-bottom: 3%;
  padding: 5%;
  background-image: url('https://images.unsplash.com/photo-1612634092815-511d2f4c9541?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

.mini-card {
  max-width: 350px;
  border-radius: 8px;
  margin-bottom: 3%;
  padding: 5%;
  text-align: center;
  background-size: cover;
  background-position: center;
  /* background-image: url('https://images.unsplash.com/photo-1542461927-dd68c85adc56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1479064312651-24524fb55c0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1519461343300-0d914c231ad4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1527904219733-fddc74937915?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1490606920905-635add8bdad2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  /* background-image: url('https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80'); */
}

.view-card {
  max-width: 300px;
  padding-right: 12%;
  padding-left: 12%;
  background-image: url('https://images.unsplash.com/photo-1612634092815-511d2f4c9541?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 5px;
  font-family: 'Cabin Sketch', cursive;
}

.edit-vibe-card {
  background-color: white;
  /* opacity: .8; */
  max-width: 30%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 5px;
  /* background-image: url('https://images.unsplash.com/photo-1617298748161-f59f6096f130?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1512389055488-8d82cb26ba6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=683&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1559251606-c623743a6d76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1608048608029-99c772d199ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
  background-size: cover;
  background-position: center;
}

.edit-vibe-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0)
}

.edit-vibe-card-text {
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
}
.edit-vibe-card-text:hover {
  background-color: rgb(255, 255, 255, .8);

}
.edit-guest-card {
  background-color: white;
  max-width: 30%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 5px;
  /* background-image: url('https://images.unsplash.com/photo-1496660988113-291c5f308503?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1497&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1512389055488-8d82cb26ba6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=683&q=80');
  /* background-image: url('https://images.unsplash.com/photo-1516617206694-919efe54e80a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=576&q=80'); */
  background-size: cover;
  background-position: center;
}

.edit-guest-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0)
}

.edit-guest-card-text {
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
}
.edit-guest-card-text:hover {
  background-color: rgb(255, 255, 255, .8);

}

.edit-food-card {
  background-color: white;
  max-width: 30%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 5px;
  background-image: url('https://images.unsplash.com/photo-1474440635253-cc1d8481595a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
  background-position: center;
}

.edit-food-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0)
}

.edit-food-card-text {
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
}
.edit-food-card-text:hover {
  background-color: rgb(255, 255, 255, .8);

}


.edit-drink-card {
  background-color: white;
  max-width: 30%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 5px;
  background-image: url('https://images.unsplash.com/photo-1609951651556-5334e2706168?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-size: cover;
  background-position: center;
}

.edit-drink-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0)
}

.edit-drink-card-text {
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
}
.edit-drink-card-text:hover {
  background-color: rgb(255, 255, 255, .8);
}


.edit-card-parent {
  display: flex
}

.edit-page-text {
  text-align: center;
  /* text-decoration: underline; */
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
}

.card-white {
  background-color: rgb(255, 255, 255, .5);
  padding-top: 1%;
  border-radius: 5px;
  color: black;
}

.view-card-white {
  background-color: rgb(255, 255, 255, .5);
  padding: 5%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.view-card-white:hover {
  background-color: rgb(255, 255, 255, .7);
  padding: 5%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.food-menu-card {
  background-image: url('https://images.unsplash.com/photo-1489518488680-f9f6c2be8ff5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=717&q=80');
}

.drink-menu-card {
  background-image: url('https://images.unsplash.com/photo-1610218588433-227ebd3e8fea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=704&q=80');
}

.menu-background {
  background-image: url('https://images.unsplash.com/photo-1590394017390-add3e9922c35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80');
}

.new-dinner-party-background {
  background-image: url('https://images.unsplash.com/photo-1512386233331-f023884a92e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1495&q=80');
  display: block;
  text-align: center;
  margin-top: 5px;
  padding-top: 150px;
  padding-bottom: 350px
}

.new-dinner-party-form-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 5px;
  min-width: 35%;
  font-family: 'Klee One';
}

.edit-dinner-party-form-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 5px;
  font-family: 'Klee One';
}




.signup-login-form {
  display: block;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 20px 0px;
  background-image: url('https://images.unsplash.com/photo-1554521838-fbe01ad99c31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=717&q=80');
}


.signup-login-form-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 40%;
  font-family: 'Klee One';
}

.signup-login-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Klee One';
  text-transform: lowercase;

}

.logout-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: 'Klee One';
  float: right;
  text-transform: lowercase;
}

.new-dinner-party-submit-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: 'Klee One';
  text-transform: lowercase;
}

.view-more-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin: 10px 60px;
  font-family: 'Klee One';
  text-transform: lowercase;
  color: black;
}

.create-dinner-party-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-right: 40%;
  margin-left: 40%;
  margin-bottom: 3%;
  font-family: 'Klee One';
  text-transform: lowercase;
}

.create-dp-button-parent {
  text-align: center;
}

.edit-dinner-party-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  /* margin-bottom: 10px; */
  font-family: 'Klee One';
  text-transform: lowercase;
  text-align: center;
}

.return-to-view-dinner-party-button {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Klee One';
  text-transform: lowercase;
  text-align: center;
}

.edit-parent-div {
  text-align: center;
}

.signup-login-text {
  display: block;
  text-align: center;
}

.profile-text {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0px;
}

.explore-vibes {
  margin-left: 5%;
}
.explore-spotify {
  margin-left: 5%;
}
.explore-foods {
  margin-left: 5%;
}
.explore-drinks {
  margin-left: 5%;
}


/* MAYBE USING */
/* 1. disco balls: https://images.unsplash.com/photo-1616043986676-c0ac934f2b46?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 */
/* 2. blue with flower: https://images.unsplash.com/photo-1601242453923-7009c182a974?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 */
/* 3. rustic yellow background: https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 */
/* 4. brunch spread: https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80 */
/* 5. sparkle stars on gray background: https://images.unsplash.com/photo-1512389055488-8d82cb26ba6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=683&q=80 */
/* USED 6. potatoes and shallots on gray wood: https://images.unsplash.com/photo-1474440635253-cc1d8481595a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80 */
/* 7. mise en plase lemon and herbs: https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80 */
/* 8. flowers background: https://images.unsplash.com/photo-1527904219733-fddc74937915?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80 */
/* 9. flowers and tiles: https://images.unsplash.com/photo-1490606920905-635add8bdad2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 */
/* 10. flowers outside in jar: https://images.unsplash.com/photo-1479064312651-24524fb55c0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 */
/* 11. other blue flower: https://images.unsplash.com/photo-1471899236350-e3016bf1e69e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80 */
/* 12. herb bouquet: https://images.unsplash.com/photo-1517135399940-2855f5be7c4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxODExMTU2fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60 */
/* 13. lil white flowers: https://images.unsplash.com/photo-1519461343300-0d914c231ad4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
/* 14. girls night flowy pink: https://images.unsplash.com/photo-1559251606-c623743a6d76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 */
/* 15. flower image lay: https://images.unsplash.com/photo-1542461927-dd68c85adc56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80 */
